{
    "singleQuote": true,
    "jsxSingleQuote": true,
    "semi": true,
    "useTabs": false,
    "tabWidth": 4,
    "trailingComma": "all",
    "printWidth": 120,
    "bracketSpacing": false,
    "arrowParens": "always",
    "endOfLine": "auto"
}
